* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins";
}
.pages {
  margin-left: 250px;
}
.page-2-poster img {
  width: 1000px;
  height: 449px;
  flex-shrink: 0;
}
.review {
  width: 774px;
  color: #333;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 31px;
}
.title-date-time {
  display: flex;
  gap: 40px;
  width: 515px;
  height: 35px;
  margin-top: 31px;
}
.name {
  color: #333;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
button.fav {
  width: 180px;
  height: 50px;
  padding: 5px 5px;
  background-color: #be123c;
  border-radius: 20px;
  margin-top: 50px;
}
button.fav:hover {
  background-color: transparent;
  border: 1px solid #be123c;
  color: #be123c;
  border-radius: 20px;
}
@media screen and (max-width:600px) {
    .page-2-poster img {
        width: 500px;
        height: 249px;
} 
.review {
    width: 298px;
  
}
}